p {
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
}

#input_bar {
    width: 20vw;
}

.bartooltip {
    position: absolute;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    background-color: #444;
}

#bar-chart {
    margin: auto;
}

.svg-container {
    display: flex;
    justify-content: center;
}

.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 2vw;
}

.maptooltip {
    position: absolute;
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    outline-color: black;
    color: white;
    outline-style: solid;
}

#checkbox-div {
    display: flex;
    justify-content: center;
    margin-bottom: -2vw;
    margin-top: 0.5vw;
}


.popup {
    display: block;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 999;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 60px;
    top: 0px;
    right: 20px;
}

.open-btn {
    position: absolute;
    background-color: orange;
    color: white;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    font-size: 30px;
    top: 20px;
    right: 20px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.7);
}

.circle {
    height: 17.5px;
    width: 17.5px;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: #444;
    cursor: pointer;
    display: inline-block;
}

.circle-select {
    position: relative;
    height: 17.5px;
    width: 17.5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: #444;
    cursor: pointer;
    display: inline-block;
}