p {
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
}

#input_bar {
    width: 20vw;
}

.bartooltip {
    position: absolute;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    background-color: #444;
}

#bar-chart {
    margin: auto;
}

.svg-container {
    display: flex;
    justify-content: center;
}

.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 2vw;
}

.maptooltip {
    position: absolute;
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    outline-color: black;
    color: white;
    outline-style: solid;
}

#checkbox-div {
    display: flex;
    justify-content: center;
    margin-bottom: -2vw;
    margin-top: 0.5vw;
}

